USE [clinicals]
GO
/****** Object:  User [allware]    Script Date: 7/17/2020 2:22:36 PM ******/
CREATE USER [allware] FOR LOGIN [allware] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [root]    Script Date: 7/17/2020 2:22:36 PM ******/
CREATE USER [root] FOR LOGIN [root] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[LeftSideMenu]    Script Date: 7/17/2020 2:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeftSideMenu](
	[id] [int] NOT NULL,
	[registry_id] [int] NOT NULL,
	[menuGroup] [varchar](50) NOT NULL,
	[subMenuText] [varchar](50) NOT NULL,
	[subMenuIcon] [varchar](9) NOT NULL,
	[submenulink] [varchar](23) NOT NULL,
	[active] [varchar](1) NOT NULL,
	[pageGroupID] [int] NOT NULL,
	[subgrouporder] [int] NULL,
	[SortOrder] [int] NOT NULL,
	[PageName] [varchar](50) NOT NULL,
	[ProjectGroup] [varchar](50) NOT NULL,
	[registryID] [int] NOT NULL,
	[groupID] [int] NOT NULL,
	[menuID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[registry]    Script Date: 7/17/2020 2:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registry](
	[id] [bigint] NULL,
	[title] [varchar](max) NULL,
	[description] [varchar](max) NULL,
	[name] [varchar](max) NULL,
	[content] [text] NULL,
	[img1] [text] NULL,
	[img2] [text] NULL,
	[mainImg] [text] NULL,
	[text1] [text] NULL,
	[text2] [text] NULL,
	[menulabel] [text] NULL,
	[landingpagehtml] [text] NULL,
	[groupid] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[LeftSideMenu] ([id], [registry_id], [menuGroup], [subMenuText], [subMenuIcon], [submenulink], [active], [pageGroupID], [subgrouporder], [SortOrder], [PageName], [ProjectGroup], [registryID], [groupID], [menuID]) VALUES (1, 1, N'Data Analysis', N'Subgroup Analysis', N'dashboard', N'*./clinical_forms.html*', N'', 3, 2, 1, N'Subgroup Analysis', N'Durable', 1, 3, 1)
INSERT [dbo].[LeftSideMenu] ([id], [registry_id], [menuGroup], [subMenuText], [subMenuIcon], [submenulink], [active], [pageGroupID], [subgrouporder], [SortOrder], [PageName], [ProjectGroup], [registryID], [groupID], [menuID]) VALUES (2, 1, N'Participants', N'Hospitals', N'dashboard', N'*./clinical_forms.html*', N'', 3, 3, 1, N'Hospitals', N'Durable', 1, 5, 2)
INSERT [dbo].[LeftSideMenu] ([id], [registry_id], [menuGroup], [subMenuText], [subMenuIcon], [submenulink], [active], [pageGroupID], [subgrouporder], [SortOrder], [PageName], [ProjectGroup], [registryID], [groupID], [menuID]) VALUES (12, 1, N'Registry', N'User Profiles', N'dashboard', N'*./clinical_forms.html*', N'', 3, 4, 1, N'Site Manager', N'Durable', 1, 6, 12)
